[submodule "stage3/03-bettercap-pwngrid/pwngrid"]
	path = stage3/03-bettercap-pwngrid/pwngrid
	url = https://github.com/jayofelony/pwngrid.git
[submodule "stage3/03-bettercap-pwngrid/bettercap"]
	path = stage3/03-bettercap-pwngrid/bettercap
	url = https://github.com/jayofelony/bettercap.git
	branch = pcapng
[submodule "pi-gen-32bit"]
	path = pi-gen-32bit
	url = https://github.com/jayofelony/pi-gen.git
	branch = master
[submodule "pi-gen-64bit"]
	path = pi-gen-64bit
	url = https://github.com/jayofelony/pi-gen.git
	branch = arm64
