[submodule "stage3/02-bettercap-pwngrid/pwngrid"]
	path = stage3/02-bettercap-pwngrid/pwngrid
	url = https://github.com/jayofelony/pwngrid.git
[submodule "stage3/02-bettercap-pwngrid/bettercap"]
	path = stage3/02-bettercap-pwngrid/bettercap
	url = https://github.com/jayofelony/bettercap.git
	branch = pcapng
[submodule "pi-gen-32bit"]
	path = pi-gen-32bit
	url = https://github.com/jayofelony/pi-gen.git
	branch = master
[submodule "pi-gen-64bit"]
	path = pi-gen-64bit
	url = https://github.com/jayofelony/pi-gen.git
	branch = arm64
[submodule "stage3/03-nexmon/nexmon"]
	path = stage3/03-nexmon/nexmon
	url = https://github.com/jayofelony/nexmon.git
	branch = dev
[submodule "stage3/03-nexmon/brcmfmac-nexmon-dkms"]
	path = stage3/03-nexmon/brcmfmac-nexmon-dkms
	url = https://github.com/jayofelony/brcmfmac-nexmon-dkms.git
	branch = kali/master
