Pillow
PyYAML
RPi.GPIO
file-read-backwards
flask
flask-cors
flask-wtf
gast
gym
inky
pycryptodome
pydrive2
python-dateutil
requests
rpi_hardware_pwm
scapy
shimmy
smbus2
spidev
stable_baselines3
toml
torch
torchvision
tweepy
websockets