[Unit]
Description=pwngrid peer service.
Documentation=https://pwnagotchi.ai
Wants=network.target
After=bettercap.service

[Service]
Type=simple
ExecStart=/usr/bin/pwngrid-launcher
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
