{% extends "base.html" %} {% set active_page = "peers" %} {% block title %} {{
name }} Peers {% endblock %} {% block script %} filterList('.search-box input',
'.peers li'); {% endblock %} {% block content %}
<div class="search-box">
  <input type="text" placeholder="Search peers..." />
</div>

<ul class="peers">
  {% for peer in peers %}
  <li class="peer">
    <a href="/inbox/new?to={{ peer.fingerprint }}">
      <div class="list-item-primary">
        {{ peer.advertisement.face }} {{ peer.advertisement.name }}@{{
        peer.fingerprint }}
      </div>
      <div class="list-item-secondary">
        Pwned {{ peer.advertisement.pwnd_tot }} networks, {{ peer.encounters }}
        encounters
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
