{% extends "base.html" %} {% set active_page = "profile" %} {% block title
%}Profile{% endblock %} {% block script %}
document.addEventListener('DOMContentLoaded', function() { if (typeof
generateQRCode === 'function') { generateQRCode('qrcode',
'https://opwngrid.xyz/search/{{ fingerprint }}', { size: 300 }); } else {
console.error('generateQRCode function not available'); } }); {% endblock %} {%
block content %}
<div class="card">
  <div class="card-body">
    <div>
      <label>Name</label>
      <h4>{{ name }}</h4>
    </div>

    <div class="mt-2">
      <label>Fingerprint</label>
      <h4>
        <a href="https://opwngrid.xyz/search/{{ fingerprint }}" target="_blank"
          >{{ fingerprint }}</a
        >
      </h4>
    </div>

    <div class="mt-2 text-center">
      <div id="qrcode" style="display: inline-block"></div>
    </div>

    <div class="mt-3">
      <label>Data</label>
      <pre><code>{{ data }}</code></pre>
    </div>
  </div>
</div>
{% endblock %}
